/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 oct. 2022, 22:13:50
    Author     : Lucas Oliva
*/

h1 {
    color: aqua;
    text-align: center;
}


.linea {
 /* border-top: 12px solid black;*/
  border-top: 12px solid grey;
  height: 2px;
  /*max-width: 400px;*/
  padding: 0;
  margin: 20px auto 0 auto;
}
  
.contenedor_registro{
    width: 20%;
    padding: 20px 20px;
    background-color: #90c;/*rgb(28, 226, 216);*/
    /*position: fixed;*/
    /*align-content: center;*/
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    
 
}

.contenedor_registro h3{
    /*margin-bottom: 20px;*/
    margin-top: 1px;
}

/*.contenedor_registro input{
    background-color: #b2d8d8;  /*pone a todos los input con color, inclusive los botones submit
}*/
/*.contenedor_registro .button{
    background-color: black;
    border: none;
    color:white;
    padding: 15px 32px;
    
}*/
/* .contenedor_registro num,ape,dni,fn,ml,tlf{
    background-color: #b2d8d8;
}*/
.contenedor_registro p{  /*no lo esta tomando*/
    color:white;
} 

    .contenedor_registro input[type=submit], input[type=reset]{
        border:none;
        background-color:#00FF7F; /* #00BFFF;*/
        border-radius: 25px;

    }

    
    .contenedor_login{
    width: 23%;
    padding: 20px 10px;
    background-color: #90c;/*rgb(0,250,154); /*#90c;/*rgb(28, 226, 216);*/
    /*position: fixed;*/
    /*align-content: center;*/
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    }

    .contenedor_login input[type=submit], input[type=reset]{
        border:none;
        background-color:#00FF7F; /* #00BFFF;*/
        border-radius: 25px;

    }
    
    .columna{
        font-size: 22px;
        color: red;
    }
    
    .fila{
        font-size: 12px;
        
        text-align: center;
    }
    
  .bot {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #b719cf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.bot:hover {  /* animación del Boton al pasar el mouse*/
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.bot:active {
	position:relative;
	top:1px;
}   

.lgi{
 color: #f24437
    }
    
 .Bienvenido{
     color: white;
     text-align: center;
    }
 
 .menu{
     font-size: x-large;   
    }
    
  